
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>

        <div class="">
            <a href="./contact.html">登入/註冊</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                <li>@Html.ActionLink("房型", "總房型", "Home")</li>
                <li>@Html.ActionLink("關於我們", "關於我們", "Home")</li>
                @*<li>
                        <a href="./pages.html">Pages</a>
                        <ul class="dropdown">
                            <li><a href="./room-details.html">Room Details</a></li>
                            <li><a href="#">Deluxe Room</a></li>
                            <li><a href="#">Family Room</a></li>
                            <li><a href="#">Premium Room</a></li>
                        </ul>
                    </li>*@
                <li>@Html.ActionLink("最新消息", "最新優惠", "Home")</li>
                <li>@Html.ActionLink("聯絡", "Contact", "Home")</li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>

    </div>
    <!-- Offcanvas Menu Section End -->
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="menu-item " style="background-color:whitesmoke">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="http://localhost:59442/">
                                <img src="~/img/logo.png" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                                    <li>
                                        @Html.ActionLink("房型", "總房型", "Home")
                                        <ul class="dropdown">
                                            @Html.Action("房型清單","Home")
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("關於我們", "關於我們", "Home")</li>
                                    @*<li>
                                            <a href="./pages.html">Pages</a>
                                            <ul class="dropdown">
                                                <li><a href="./room-details.html">Room Details</a></li>
                                                <li><a href="./blog-details.html">Blog Details</a></li>
                                                <li><a href="#">Family Room</a></li>
                                                <li><a href="#">Premium Room</a></li>
                                            </ul>
                                        </li>*@
                                    <li>@Html.ActionLink("最新消息", "最新優惠", "Home")</li>
                                    <li>@Html.ActionLink("聯絡", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("登入/註冊", "Login", "Home")</li>
                                </ul>
                            </nav>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <hr />
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">AAAA</a></li>
                            <li><a href="#">BBB</a></li>
                            <li><a href="#">CCC</a></li>
                            <li><a href="#">後台</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    @Scripts.Render("~/Content/js")
    @*魚-信用卡卡號type用*@
    <script src="http://blog.mingsixue.com/js/code.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
