@model List<WebIndexHotel.Viewmodel.Discount>

@{
    ViewBag.Title = "最新優惠";
}


<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>最新資訊</h2>
                    <div class="bt-option">
                        @Html.ActionLink("首頁", "Index", "Home")
                        <span>最新資訊</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog-section blog-page spad">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item set-bg" data-setbg="/img/News/blog-1.jpg">
                        <div class="bi-text">
                            <span class="b-tag">優惠方案</span>
                            @if (item.Roomtypename == null)
                            {
                                <h4><a href="@item.roomurl">全館優惠中...</a></h4>
                                if (item.Dollar == 0)
                                {
                                    var percentage_off = (1 - item.Percentage) * 100;
                                    System.Web.HttpContext.Current.Session["DiscountCode"] = item.DiscountCode;
                                    System.Web.HttpContext.Current.Session["DiscountContent"] = percentage_off + " %";


                                }
                                else
                                {
                                    System.Web.HttpContext.Current.Session["DiscountCode"] = item.DiscountCode;
                                    System.Web.HttpContext.Current.Session["DiscountContent"] = item.Dollar + " $";

                                }

                            }
                            else
                            {
                                <h4><a href="@item.roomurl">@item.Roomtypename 優惠中...</a></h4>
                                if (item.Dollar == 0)
                                {
                                    var percentage_off = (1 - item.Percentage) * 100;
                                    System.Web.HttpContext.Current.Session[$"DiscountCode{item.Roomtypename}"] = item.DiscountCode;
                                    System.Web.HttpContext.Current.Session[$"DiscountContent{item.Roomtypename}"] = percentage_off + " %";
                                }
                                else
                                {
                                    System.Web.HttpContext.Current.Session[$"DiscountCode{item.Roomtypename}"] = item.DiscountCode;
                                    System.Web.HttpContext.Current.Session[$"DiscountContent{item.Roomtypename}"] = item.Dollar + " $";

                                }


                            }

                            <div class="b-time"><i class="icon_clock_alt"></i>@item.StartTime~@item.EndTime</div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</section>